<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>ConX AWB Tracker Web Application</display-name>
	<description></description>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/META-INF/tm.jta-module-context.xml,classpath*:/META-INF/persistence.datasource-module-context.xml,classpath*:/META-INF/jbpm.persistence.datasource-module-context.xml,classpath*:/META-INF/persistence.dynaconfiguration-module-context.xml,classpath*:/META-INF/metamodel.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/editors.vaadin.module-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>webappServlet</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>	
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.conx.logistics.kernel.ui.editors.vaadin.tests.VaadinWidgetset</param-value>
        </init-param>	
        <init-param>
            <param-name>application</param-name>
            <param-value>com.conx.logistics.kernel.ui.editors.vaadin.tests.MockApp</param-value>
        </init-param>	        
	</servlet>
	<servlet-mapping>
		<servlet-name>webappServlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webappServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
