<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>ConX AWB Tracker Web Application</display-name>
	<description></description>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/META-INF/tm.jta-module-context.xml,/META-INF/mysql.persistence.datasource-module-context.xml,classpath*:/META-INF/jbpm.persistence.datasource-module-context.xml,/META-INF/mysql.persistence.dynaconfiguration-module-context.xml,classpath*:/META-INF/metamodel.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/app.whse.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/app.whse.rcv.asn.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/mdm.dao.services.impl-module-context.xml,classpath*:/META-INF/app.whse.rcv.rcv.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/components.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/datasource.dao.jpa.persistence-module-context.xml,classpath*:/META-INF/documentlibrary.remote.services.impl-module-context.xml,/META-INF/editors.vaadin.module-context.xml</param-value>
	</context-param>
	
	<filter>
	    <filter-name>openSessionInViewFilter</filter-name>
	    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>conxLogisticsManagerFactory</param-value>
		</init-param>   
	</filter>
	
	<filter-mapping>
	    <filter-name>openSessionInViewFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>	

	<filter-mapping>
	    <filter-name>openSessionInViewFilter</filter-name>
	    <url-pattern>/VAADIN/*</url-pattern>
	</filter-mapping>	

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>webappServlet</servlet-name>
		<servlet-class>com.conx.logistics.kernel.ui.editors.vaadin.tests.servlet.MockAppServlet</servlet-class>	
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.conx.logistics.kernel.ui.editors.vaadin.tests.VaadinWidgetset</param-value>
        </init-param>	
<!--         <init-param>
            <param-name>application</param-name>
            <param-value>com.conx.logistics.kernel.ui.editors.vaadin.tests.MockApp</param-value>
        </init-param>	   -->      
	</servlet>
	<servlet-mapping>
		<servlet-name>webappServlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webappServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>	
</web-app>
